<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Main Page</title>
	<!-- bootstrap css -->
	<link rel="stylesheet" type="text/css" href="../styles/lib/bootstrap.min.css">
	<!-- main application style css file -->
	<link rel="stylesheet" type="text/css" href="../styles/afs.main.css">
</head>
<body>
	<h1>Yello World!!</h1>
	<button>Button</button>
	<a href="javascript:;">Button</a>
	<!-- jquery js library -->
	<script type="text/javascript" src="../scripts/lib/jquery.min.js"></script>
	<!-- bootstrap js library -->
	<script type="text/javascript" src="../scripts/lib/bootstrap.min.js"></script>
	<!-- main application core js file -->
	<script type="text/javascript" src="../scripts/afs.main.js"></script>
</body>
</html>