<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login Page Step 2</title>
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="../styles/lib/bootstrap.min.css">
    <!-- main application style css file -->
    <link rel="stylesheet" type="text/css" href="../styles/afs.main.css">
</head>
<body>
    <div class="login-container">
        <div class="promo-container">
            <video class="loginpromovid" loop muted autoplay 
                poster="../images/temp/globebanner.png"
                src="../images/temp/globe-rotate-21681379-preview.mp4"></video>
        </div><!--.promo-container-->
        <div class="loginform-container">
            <img src="../images/background/world-map.png" alt="afs world" />
            <div class="lf-header">
                <!-- <a href="javascript:;">HE</a> -->
                <span class="afsbranding">
                    <img src="../images/logo/afs-logo.png" alt="AFS" />
                </span>
                <div class="lh-elements">
                    <div class="lhe-lang">
                        <em>Choose Language</em>
                        <a href="javascript:;">English</a>
                        <div class="dl-language">
                            <a href="javascript:;" class="lang-selected">English</a>
                            <a href="javascript:;">ﺍﻟﻌﺮﺑﻴﺔ</a>
                            <a href="javascript:;">हिन्दी</a>
                            <a href="javascript:;">français</a>
                        </div><!--.dl-language-->
                    </div><!--.lhe-lang-->
                </div><!--.lh-elements-->
            </div><!--.lf-header-->

            <!-- LOGIN FORM :: START -->
            <div class="lf-form">
                <div class="company-branding">
                    <img src="../images/logo/nbo-logo.png" alt="National Bank of Oman" />
                </div><!--.company-branding-->
                <div class="login-form">
                    <div class="row">
                        <div class="col-12">
                            <span class="stepindicator">Step<em>2/2</em></span>
                        </div><!--.col-12-->
                    </div><!--.row-->
                    <div class="row">
                        <div class="col-12">
                            <div class="form-controller disabled">
                                <label>Username</label>
                                <input type="text" name="" value="Gatekeeper" placeholder="Enter username here"><u></u>
                                <em>Please enter username here</em>
                            </div><!--.form-control-->
                        </div><!--.col-12-->
                    </div><!--.row-->
                    <div class="row">
                        <div class="col-12">
                            <div class="form-controller">
                                <label>Password</label>
                                <input type="password" name="" placeholder="Enter your password here"><u></u>
                                <em>Please enter password here</em>
                            </div><!--.form-control-->
                        </div><!--.col-12-->
                    </div><!--.row-->
                    <div class="row">
                        <div class="col-12">
                            <div class="form-footer">
                                <button class="button">Login</button>
                            </div><!--.form-footer-->
                        </div><!--.col-12-->
                    </div><!--.row-->
                </div><!--.login-form-->
            </div><!--.lf-form-->
            <!-- LOGIN FORM :: END   -->
            
            <div class="lf-footer">
                <div class="lf-links">
                    <ul class="lf-lst-links">
                        <li>
                            <a href="javascript:;">Terms of Use</a>
                        </li>
                        <li>
                            <a href="javascript:;">Privacy Policy</a>
                        </li>
                    </ul>
                </div><!--.lf-links-->
                <div class="lf-copyrights">
                    <p class="copyrights">Copyrights &copy; 2019 InfrasoftTech OMNIEnterprise</p>
                </div><!--.lf-copyrights-->
                <div class="lf-poweredby">
                    <em>Powered By</em>
                    <img src="../images/logo/infrasofttech-logo.png" alt="InfrasoftTech" />
                </div><!--.lf-poweredby-->
            </div><!--.lf-footer-->
        </div><!--.loginform-container-->
    </div><!--.login-container-->
    <!-- jquery js library -->
    <script type="text/javascript" src="../scripts/lib/jquery.min.js"></script>
    <!-- bootstrap js library -->
    <script type="text/javascript" src="../scripts/lib/bootstrap.min.js"></script>
    <!-- main application core js file -->
    <script type="text/javascript" src="../scripts/afs.main.js"></script>
</body>
</html>